html {
    scroll-behavior: smooth;
}

body {
    font-family: "Exo 2", serif;
    font-display: swap;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow-x: hidden;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 0;
    backdrop-filter: blur(10px);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    color: #ffffff;
    text-decoration: none;
    font-family: "Exo 2", serif;
    font-optical-sizing: auto;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #ffa500;
}

.language-toggle {
    display: inline-block;
    padding: 5px 10px;
    font-family: "Exo 2", serif;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(135deg, #0a1f44, #ff8c00, #ff4500);
    background-size: 200% 200%;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    transition: background-position 0.5s ease, transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    margin-left: 10px;
}

.menu-toggle {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease-in-out;
    color: #ff8c00;
    font-size: 18px;
    display: none;
}


.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero h1 {
    font-size: 6.5vw;
    color: #ff991d;
    text-shadow: 2px 2px 10px #ff8c00cc;
    margin: 0;
    animation: fadeIn 1.5s ease-in-out
}

.hero h2 {
    font-size: 4rem;
    color: #f5deb3;
    text-shadow: 2px 2px 10px #ff8c00cc;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Mynerve", serif;
    animation: fadeIn 1.5s ease-in-out
}

.btn {
    display: inline-block;
    padding: 15px 30px;
    font-family: "Exo 2", serif;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(45deg, #ff8c00, #ff4500);
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    animation: fadeIn 1s ease-in-out
}

.btn:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(255, 140, 0, 0.8);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .hero h1 {
        font-size: 70px;
    }

    .hero h2 {
        font-size: 2.5rem;
    }

    .btn {
        font-size: 16px;
        padding: 12px 25px;
    }

    .menu-toggle {
        display: flex;
    }

    .menu-toggle i {
        font-size: 24px;
    }

    .navbar {
        justify-content: space-between;
    }

    #navLinks {
        display: none;
    }
}

@media (max-width: 350px) {
    .hero h1 {
        font-size: 50px;
    }
}