html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    overflow-x: hidden;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 0;
    backdrop-filter: blur(10px);
    z-index: 1000;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    color: #ffffff;
    text-decoration: none;
    font-family: "Exo 2", serif;
    font-optical-sizing: auto;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #ffa500;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero h1 {
    font-size: 8vw;
    color: #ff991d;
    text-shadow: 2px 2px 10px #ff8c00cc;
    font-family: "Exo 2", serif;
    font-optical-sizing: auto;
    margin: 0;
}

.hero h2 {
    font-size: 4rem;
    color: #f5deb3;
    text-shadow: 2px 2px 10px #ff8c00cc;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Mynerve", serif;
}

.btn {
    display: inline-block;
    padding: 15px 30px;
    font-family: "Exo 2", serif;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(45deg, #ff8c00, #ff4500);
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(255, 140, 0, 0.8);
}

@media (max-width: 768px) {
    .hero h1 {
        font-size: 80px;
    }

    .hero h2 {
        font-size: 3rem;
    }

    .btn {
        font-size: 16px;
        padding: 12px 25px;
    }
}

@media (min-width: 1200px) {
    .hero h1 {
        font-size: 6vw;
    }
}